*{
    margin: 0;
    padding: 0;
}
.menu{
    width: 400px;
    float: left;
    height: 70px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 100px;
    margin-top: 27px;
    font-size: 14px;

}

ul li a{
    text-decoration: none;
    color: rgb(52, 4, 80);
    font-family: 'Times New Roman';
    font-weight: bold;
    transition: 0.4s ease-in-out;
    

}
ul li a:hover{
    color: rgb(163, 8, 8);

}
.search{
    width: 300px;
    float: left;
    margin-left: 570px;

}
.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid rgb(6, 26, 116);
    margin-top: 25px;
    color: white;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 40px;
    background: rgb(14, 6, 128);
    border: 2px solid rgb(29, 9, 138);
    margin-top: 20px;
    color: white;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.btn:focus{
    outline: none;

}
h5{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 10%;
    letter-spacing: 2px;
    top: 200px;
}
 body{
    background-color: rgba(131, 15, 189, 0.123);
 }  