/* add_category.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  padding: 20px;
}

.container {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(204, 195, 195, 0.1);
}

h1 {
  text-align: center;
  color: #d2cfdf;
}

form {
  text-align: center;
}

label {
  display: block;
  font-weight: bold;
  margin-top: 10px;
}

input[type="text"],
input[type="number"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

input[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

.menu {
  width: 400px;
  float: left;
  height: 70px;
}

ul {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li {
  list-style: none;
  margin-left: 100px;
  margin-top: 2px;
  font-size: 14px;
}

ul li a {
  text-decoration: none;
  color: rgb(52, 4, 80);
  font-family: 'Times New Roman';
  font-weight: bold;
  transition: 0.4s ease-in-out;
}

ul li a:hover {
  color: rgb(163, 8, 8);
}
